@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: 'Noto Kufi Arabic';
	src: url('/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: block;
}

html[dir="rtl"],
html[dir="rtl"] body,
html[lang="ar"],
html[lang="ar"] body {
	font-family: 'Noto Kufi Arabic', 'Inter', sans-serif !important;
}
