<link rel="preload" href="/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/consultation_center/fonts/noto-kufi-arabic/NotoKufiArabic-Black.woff2" as="font" type="font/woff2" crossorigin>
